.app {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #797E83;
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;
}

.app__menu {
  width: 25%;
}

.app__content {
  width: 70%;
}

.grid{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.grid__column {
  width:33%;
}

