.container {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #797E83;
}

.app {
  display: flex;
  width: 100%;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;
}

.app__menu {
  width: 20%;
}

.app__content {
  margin-left: 2%;
  width: 78%;
}

.heroMenu{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}


.grid{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}

.grid__column {
  margin: auto;
}

