.button {
    background: #e2e2e2;
    border: 0.1em solid #e2e2e2;
    width: 100%;
    line-height: 2.5em;
    padding: 0 0 0 1em;
    margin-bottom: 1em;
    outline: none;
    text-decoration: none;
    color: #666;
}

.button--disabled {
    color: #333;
}

.button:hover {
    background: white;
    border: 0.1em solid #e2e2e2;
}
