.character-info {
    margin: 5px 0;
}

.character-info__name {
    margin: 5px 0;
    font-size: 1.4em;
}

.character-info__fav-series-label {
    font-size: 1.2em;
}
.character-info__fav-series {
    font-size: 1.2em;
}