
.favorite-character {
    margin: auto;
    width: 400px;
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

.favorite-character__details-section {
    margin: auto;
    width: 100%;
}


.favorite-character__series-section {
    margin: auto;
    width: 100%;
}


.favorite-character__character-image {
    width:300px;
    height:300px;
    border-radius: 50%;
}
