
.label-with-add {
  display: flex;
  flex-flow: row;
  width: 100%;
  border-top: 0.1em solid gainsboro;
  align-items: flex-end;
}

.label-with-add__label {
  margin: auto;
  -webkit-flex: 4 0 0;
  flex: 4 0 0;
}

.label-with-add__button-section {
  margin: auto;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

