.my-favorite-characters{
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items:flex-start;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap:         wrap;
}
